.app-title {
  background-color: #000934;
  color: white;
  height: 4rem;
  line-height: 3.5rem;
  opacity: 0.85;
  text-align: center;
}

.app-title h1 {
  margin: 0;
}

.app-title span {
  color: #7d12f8;
}

.search-playlist-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

footer {
  text-align: center;
  color: white;
}

footer a {
  color: tomato;
  text-decoration: none;
}